.header-container{
    background: $dark-gray url('src/assets/Hero.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 236px 0 30px ;
        @include mdMinBreakPoint {
            background-size: cover;
            padding: 91px 64px;

        }
}

.header-content {
    display: flex;
    flex-direction: column;

    @include mdMinBreakPoint {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        gap: 2rem;
    }
}

.header-content_container{
    margin-top: -36px;
    @include mdMinBreakPoint {
        margin-right: 129px;
        margin-top: 0;
    }
}

.header-content_title{
    margin-bottom: 15px;

}

.bg-pink{
    display: inline-block;
    padding: 0 6px;
    @include highlight($pink);

}