.objetivos{
    padding: 45px 16px;
    margin-top: 0;

    @include mdMinBreakPoint {
        padding: 0px 64px 60px 64px;
        margin-top: 60px;    
    }
}

.objetivos-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 21px;
    margin-top: 30px;
    
    @include mdMinBreakPoint {
        grid-template-columns: repeat(3, 1fr);    
        gap: 21px;    
    }

}

.objetivos-container{
    display: flex;
    gap: 15px;
}

.objetivos_content{
    h4{
        margin-bottom: 6px;

    }
}


.objetivos_image{

    img{
        width: 24px;
        height: auto;
    }
}