.carousel-container {
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    @include mdMinBreakPoint {
        overflow: hidden;
    }
  }

.carousel {
        padding-left:16px ;
        gap: 24px;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
    
    @include mdMinBreakPoint { 
        overflow: hidden;
        padding-left:0 ;

    }
}

.carousel-item {
    min-width: 292px;
    position: relative;
    height: 438px;
    overflow: hidden;
    border-radius: 6px;

    @include mdMinBreakPoint { 
        width: calc(25% - 24px);
    }
 
    .carousel-item_img{
        width: 100%;
        min-height: 438px;
        height: auto;
        object-fit: cover;
    }

}

.carousel-item-p{
    margin-left: 3px ;
}


/*Cards Overlay*/
.Overlay{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(27, 38, 49, 0) 15.1%, #1B2631 80.73%);
}


.OverlayContent {
    width: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: 16px;
}


/*Buttons*/
.show-more-button_desktop_container{
    display: none;
    
    @include mdMinBreakPoint {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 16px;
    }

}
.show-more-button_desktop {
    height: fit-content;
}

.show-more-button_mobile_container{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    min-width: 292px;

    @include mdMinBreakPoint {
        display: none;
    }
}

.show-more-button_mobile{
    height: fit-content;
    margin: auto 0;  
}



/*School Button*/
.btn-schools-slider{
    width: 100%;
    margin-bottom: 30px;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    @include mdMinBreakPoint {
        overflow: hidden;
    }
}

.btn-schools-container{
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    @include mdMinBreakPoint { 
        overflow: hidden;
    }
}

.btn-schools{
    min-width: fit-content;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: $gray;
    margin-right: 6px;
}
.selected{
    color: $primary;
    background-color: $dark-blue;

}






