.form-container{
    padding: 21px 15px;
    margin-top: 30px;
    border-radius: 6px;
    text-align: center; 
    @include mdMinBreakPoint {
        width: 397px;
    }
}

.form-container_content{
    p{
        margin-top: 6px;
    }
}

form{
    margin: 21px 0 15px;
    @include dflex(column, space-between, start);
}

.form-alert{
    padding: 12px 30px 12px 30px;
    p{
        color: $pink;
    }
}

/*Checkbox*/
.checkbox-container{
    display: flex;
    gap: 9px;
    padding: 9px 0;
    p{
        text-align: left;
    }
}

.checkbox-input {
    width: fit-content;
    padding: 0;
    border: none;
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.checkbox-input:checked::after,
.checkbox-input::after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-input::after {
    border-radius: 3px;
    outline: 1px solid $dark-gray;
    outline-offset: -1px;
    cursor: pointer;
}

.checkbox-input:checked::after {
    background-image: url("src/assets/icon-check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $pink;
    outline: none;
    outline-offset: 0;
}

/*Second Form*/

.form-secondary{
    margin-top: 51px;
}
.phone-input{
    display: flex; 
    align-items: center;
    font-size: 16px;
    width: 100%;
    input{
        margin: 0;
        border-radius: 0px 6px 6px 0;
    }
    .PhoneInputCountry{
        box-sizing: border-box;
        padding: 6px 15px;
        width: auto;
        margin-right: 0;
        border-radius: 6px 0 0 6px;
        outline: 1px solid $light-black;
        outline-offset: -1px;
        border: none;
    }
    .PhoneInputCountryIcon {
        outline: none;
        background-color: transparent;
        box-shadow: none;
        height: 24px;
        img{
            height: 24px;
            border-radius: 24px;
            object-fit: cover;
            border: none;
            outline: none;
        }
    }
    .PhoneInputCountrySelectArrow{
        color: #2E4053;
    }
}

.input-container {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
  .custom-input {
    padding-right: 30px;
    width: 100%;
  }
  
  .chevron-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  }
  
