/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

/*fonts*/
$font-sourse: 'Source Sans 3', sans-serif;

/*pallete*/
$primary: #FFFFFF;
$pink: #DB0F3C;
$gray: #F1F4FB;
$dark-gray: #1B2631;
$light-gray:#49515A;
$light-black: #767D83;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;